# NOTE: Be sure to update .pubignore as well!

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api

# Other stuff
tmp*
*.vcd
.vscode/*
confapp/.vscode/*
*tracker.json
*tracker.log

# Exceptions
!.vscode/extensions.json
!confapp/.vscode/extensions.json
!confapp/.vscode/launch.json