# NOTE: Be sure to update .pubignore as well!

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api

# Other stuff
tmp*
*.vcd
.vscode/*
confapp/.vscode/*
confapp/assets/rohd_src/
/pubspec_overrides.yaml
/pubspec_overrides.yaml.disabled*
/.confapp_dependency_sources
*tracker.json
*tracker.log
devtools_options.yaml
*.sv

# Exceptions
!.vscode/extensions.json
!.vscode/tasks.json
!confapp/.vscode/extensions.json
!confapp/.vscode/launch.json