name: rohd_hcl
description: ROHD Hardware Component Library
version: 0.0.1
homepage: https://github.com/intel/rohd-hcl
repository: https://github.com/intel/rohd-hcl
issue_tracker: https://github.com/intel/rohd-hcl/issues
documentation: https://intel.github.io/rohd-hcl/rohd_hcl/rohd_hcl-library.html
publish_to: none

environment:
  sdk: '>=2.18.0 <3.0.0'

dependencies:
  rohd: ^0.4.2

dev_dependencies:
  test: ^1.21.0
