name: rohd_hcl
description: "The ROHD Hardware Component Library (ROHD-HCL): a collection of reusable, configurable ROHD components."
version: 0.2.1
homepage: https://intel.github.io/rohd-website/
repository: https://github.com/intel/rohd-hcl
issue_tracker: https://github.com/intel/rohd-hcl/issues
documentation: https://intel.github.io/rohd-hcl/rohd_hcl/rohd_hcl-library.html

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  collection: ^1.18.0
  meta: ^1.9.1
  rohd: ^0.6.6
  rohd_vf: ^0.6.0

dev_dependencies:
  logging: ^1.0.1
  test: ^1.25.0

  


