name: General
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-checks:
    name: Run Checks
    permissions: {}
    timeout-minutes: 30
    runs-on: intel-ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v11
        with:
          globs: '**/*.md'

      - name: Check Markdown links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: yes # output is too noisy, see https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/121
          config-file: .github/configs/mlc_config.json

      # get submodules *after* checking markdown, we dont care about markdown errors in submodules
      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install project dependencies
        run: tool/gh_actions/install_dependencies.sh

      - name: Verify project formatting
        run: tool/gh_actions/verify_formatting.sh

      - name: Analyze project source
        run: tool/gh_actions/analyze_source.sh

      - name: Check project documentation
        run: tool/gh_actions/check_documentation.sh

      - name: Run project tests
        run: tool/gh_actions/run_tests.sh
      
      - name: Install CAD Suite (includes yosys)
        run: tool/gh_actions/install_opencadsuite.sh

      - name: Install D3 Schematic viewer
        run: tool/gh_actions/install_d3_hwschematic.sh

      - name: Generate HTML for examples
        run: tool/gh_actions/create_htmls.sh

      # https://github.com/devcontainers/ci/blob/main/docs/github-action.md
      - name: Build dev container and run tests in it
        uses: devcontainers/ci@v0.3
        with:
          runCmd: tool/gh_actions/run_tests.sh

  deploy-documentation:
    name: Deploy Documentation
    needs: run-checks
    if: github.event_name == 'push'
    permissions:
      contents: write # required for "JamesIves/github-pages-deploy-action"
    timeout-minutes: 30
    runs-on: intel-ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install project dependencies
        run: tool/gh_actions/install_dependencies.sh

      - name: Install CAD Suite (includes yosys)
        run: tool/gh_actions/install_opencadsuite.sh

      - name: Install D3 Schematic viewer
        run: tool/gh_actions/install_d3_hwschematic.sh

      - name: Generate project documentation
        run: tool/gh_actions/generate_documentation.sh

      - name: Generate HTML for examples
        run: tool/gh_actions/create_htmls.sh

      - name: Deploy generated documentation
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: doc/api
          branch: docs