name: General
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-checks:
    name: Run Checks
    permissions: {}
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v11
        with:
          globs: '**/*.md'

      - name: Check Markdown links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: yes # output is too noisy, see https://github.com/gaurav-nelson/github-action-markdown-link-check/issues/121
          config-file: .github/configs/mlc_config.json
        
        # could be new API links added, etc.
        continue-on-error: true

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install project dependencies
        run: tool/gh_actions/install_dependencies.sh

      - name: Verify project formatting
        run: tool/gh_actions/verify_formatting.sh

      - name: Analyze project source
        run: tool/gh_actions/analyze_source.sh

      - name: Check project documentation
        run: tool/gh_actions/check_documentation.sh

      - name: Run project tests
        run: tool/gh_actions/run_tests.sh
      
      # https://github.com/devcontainers/ci/blob/main/docs/github-action.md
      - name: Build dev container and run tests in it
        uses: devcontainers/ci@v0.3
        with:
          runCmd: tool/gh_actions/run_tests.sh

  run-flutter-checks:
    name: Run Flutter Checks
    permissions: {}
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v2
        with:
          channel: stable
          version: 3.10.6
      
      - name: Analyze flutter source
        run: tool/gh_actions/analyze_flutter_source.sh
      
      - name: Run flutter tests
        run: tool/gh_actions/run_flutter_tests.sh
      
      - name: Build static site
        run: tool/gh_actions/hcl_site_generation_build.sh

  deploy-site:
    name: Deploy ROHD-HCL Generator site
    needs: [run-checks, run-flutter-checks]
    if: github.event_name == 'push'
    permissions:
      contents: write # required for "JamesIves/github-pages-deploy-action"
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v2
        with:
          channel: stable
          version: 3.10.6
      
      - name: Build static site
        run: tool/gh_actions/hcl_site_generation_build.sh

      - name: Deploy the generated site to website branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: confapp/build/web
          target-folder: confapp
          branch: website

  deploy-documentation:
    name: Deploy Documentation
    needs: run-checks
    if: github.event_name == 'push'
    permissions:
      contents: write # required for "JamesIves/github-pages-deploy-action"
    timeout-minutes: 30
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install project dependencies
        run: tool/gh_actions/install_dependencies.sh

      - name: Install CAD Suite (includes yosys)
        run: tool/gh_actions/install_opencadsuite.sh

      - name: Install D3 Schematic viewer
        run: tool/gh_actions/install_d3_hwschematic.sh

      - name: Generate project documentation
        run: tool/gh_actions/generate_documentation.sh

      - name: Generate HTML for examples
        run: tool/gh_actions/create_htmls.sh

      - name: Deploy generated documentation
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: doc/api
          target-folder: api
          branch: website

      
